<div id="transaction-process" class="my-3" v-cloak>
  <div class="container-fluid back" style="display:flex; justify-content: flex-end;">
    <a href="/orders" class="btn btn-primary">
      Back To Orders
    </a>
  </div>
  <h1>Purchased Product </h1>
  <h3>
    <%= order.purchasedProduct.productTitle %>
  </h3>
  <p>
    Price: $<%= order.purchasedProduct.price %>
  </p>
  <h4>Transaction Status</h4>
  <% if (order.status==="completed" ) { %>
    <p class="badge badge-sm bg-gradient-success">Completed</p>
    <% } %>

      <% if (order.status==="processing" ) { %>
        <p class="badge badge-sm bg-gradient-warning">Processing</p>
        <% } %>
          <% if (order.status==="canceled" ) { %>
            <p>This Order has been canceled by Admin</p>
            <p class="badge badge-sm bg-gradient-danger">Canceled</p>
            <% } %>

              <% if (order.status==="processing" ) { %>
                <% if (!me.isSuperAdmin) { %>
                  <div>
                    <p>You are yet to make payment for this service</p>
                    <p>Contact Audiobaze Admin to Make Payment</p>
                    <a href="https://t.me/musicprofit4" class="btn btn-primary">Contact Admin</a>
                  </div>
                  <% } %>
                    <% } %>
                      <% if (me.isSuperAdmin) { %>
                        <div>
                          <a class="btn btn-success text-white" href="/order/transaction/<%= order.id %>/confirm">
                            Confirm Payment
                          </a>

                          <a class="btn btn-outline-warning text-warning"
                            href="/order/transaction/<%= order.id %>/cancel">
                            Cancel Order
                          </a>
                        </div>
                        <% } %>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>