<div id="transaction-process" class="my-3" v-cloak>
  <div class="container-fluid back" style="display:flex; justify-content: flex-end;">
    <a href="/orders" class="btn btn-primary">
      Back To Orders
    </a>
  </div>
  <h1>Processing Product Order </h1>
  <div>
    <h3>
      Purchased Product(s)
    </h3>
    <div class="container-fluid"
      style="display: flex; column-gap: 0.75rem; justify-content: flex-start; overflow-x: scroll; width: 100%;height:100%; padding:0.5rem;">
      <% order.purchasedProducts.forEach(product=> { %>
        <div class="col-xl-3 mt-4">
          <div class="card shadow-dark p-2 d-flex flex-column align-items-center justify-content-center text-center">
            <img src="<%= product.productImage %>" alt="Product Image" width="100" height="100">
            <h3>
              <%= product.productTitle %>
            </h3>
            <p>
              <%= product.productDescription %>
            </p>
            <p>
              <%= product.productFeatures %>
            </p>
            <p class="font-weight-bold">$<%= product.price %>
            </p>
            <p>Quantity: <%= product.quantity %>
            </p>
            <p class="font-weight-bold">Delivery (ETA) <%= product.deliveryETA %> Days
            </p>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
  <p style="font-weight: bold; font-size: 1.3rem;">
    Price: $<%= order.amountPaid %>
  </p>
  <h4>Transaction Status</h4>
  <% if (order.status==="completed" ) { %>
    <% if (!me.isSuperAdmin) { %>
      <h3>Transaction Completed</h3>
      <p>This Transaction has been confirmed, Your paid service will be delivered at the time stated in the product
        description
      </p>
      <% } else { %>
        <p>Transaction ID: <%= order.transactionId %>
        </p>
        <% } %>
          <p class="badge badge-sm bg-gradient-success">Completed</p>
          <% } %>

            <% if (order.status==="processing" ) { %>
              <p class="badge badge-sm bg-gradient-warning">Processing</p>
              <% } %>
                <% if (order.status==="canceled" ) { %>
                  <p>This Order has been canceled by Admin</p>
                  <p class="badge badge-sm bg-gradient-danger">Canceled</p>
                  <% } %>

                    <% if (order.status==="processing" ) { %>
                      <% if (!me.isSuperAdmin) { %>
                        <div>
                          <p>You are yet to make payment for this service</p>
                          <h3>Make Payment to any of the Wallet Addresses below</>
                            <p>USDT (TRC20 Network) : <span style="font-weight: bold; cursor: pointer;" id="usdtAddress"
                                onclick="copyUSDTWallet()">TCbRcFoB1AykKW4bD11xGHdM29QoLKQdAw <img width="15"
                                  height="15" src="https://img.icons8.com/material-sharp/24/copy.png"
                                  alt="copy" /></span></p>
                            <p>BTC : <span style="font-weight: bold; cursor: pointer;" id="btcAddress"
                                onclick="copyBTCWalletAddress()">1GqD8jni8K9UDT5kVT9571cgvptxEGAXxS <img width="15"
                                  height="15" src="https://img.icons8.com/material-sharp/24/copy.png"
                                  alt="copy" /></span>
                            </p>
                            <p>ETH(ERC20) : <span style="font-weight: bold; cursor: pointer;" id="ethAddress"
                                onclick="copyETHWalletAddress()">0x30f98Bb3fEe1D1Dc1552F132E6E9E5BFB506123f <img
                                  width="15" height="15" src="https://img.icons8.com/material-sharp/24/copy.png"
                                  alt="copy" /></span>
                            </p>
                            <p>LTC : <span style="font-weight: bold; cursor: pointer;" id="ltcAddress"
                                onclick="copyLTCWalletAddress()">LY5dc1ZgxzETBfrk7jQD1Y7P2TdwZRqaGQ <img width="15"
                                  height="15" src="https://img.icons8.com/material-sharp/24/copy.png"
                                  alt="copy" /></span>
                            </p>
                            <p>Contact Audiobaze Admin or Audiobaze Bot to confirm transaction using Crypto Tx Hash & ID
                              : <span style="font-weight: bold; cursor: pointer;" id="audiobazetxid"
                                onclick="copyAudiobazeTransaction()">
                                <%= order.transactionId %>
                                  <img width="15" height="15" src="https://img.icons8.com/material-sharp/24/copy.png"
                                    alt="copy" />
                              </span>
                            </p>
                            <a href="https://t.me/musicprofit4" target="_blank" class="btn btn-primary">Contact
                              Admin</a>
                        </div>
                        <% } %>
                          <% } %>
                            <% if (me.isSuperAdmin) { %>
                              <div>
                                <a class="btn btn-success text-white" href="/order/transaction/<%= order.id %>/confirm">
                                  Confirm Payment
                                </a>

                                <a class="btn btn-outline-warning text-warning"
                                  href="/order/transaction/<%= order.id %>/cancel">
                                  Cancel Order
                                </a>
                              </div>
                              <% } %>
</div>
<script defer>
  navigator.permissions.query({
    name: "write-on-clipboard"
  }).then((result) => {
    if (result.state == "granted" || result.state == "prompt") {
      alert("Write access granted!");
    }
  });


  async function copyAudiobazeTransaction() {
    const adbzTxIDElement = document.getElementById('audiobazetxid');
    const adbzTx = adbzTxIDElement.textContent;
    try {
      await navigator.clipboard.writeText(adbzTx)
      alert("Copied Audiobaze TxId")
    } catch (error) {
      alert("Failed to Copy Audiobaze TxId")
    }
  }

  async function copyUSDTWallet() {
    const usdtAddress = document.getElementById('usdtAddress');
    const walletAddress = usdtAddress.textContent;
    try {
      await navigator.clipboard.writeText(walletAddress)
      alert("Copied USDT Wallet Address")
    } catch (error) {
      alert("Failed to Copy Wallet Address")
    }
  }

  async function copyBTCWalletAddress() {
    const btcAddress = document.getElementById('btcAddress');
    const walletAddress = btcAddress.textContent;
    try {
      await navigator.clipboard.writeText(walletAddress)
      alert("Copied BTC Wallet Address")
    } catch (error) {
      alert("Failed to Copy Wallet Address")
    }
  }

  async function copyETHWalletAddress() {
    const ethAddress = document.getElementById('ethAddress');
    const walletAddress = ethAddress.textContent;
    try {
      await navigator.clipboard.writeText(walletAddress)
      alert("Copied ETH Wallet Address")
    } catch (error) {
      alert("Failed to Copy Wallet Address")
    }
  }

  async function copyLTCWalletAddress() {
    const ltcAddress = document.getElementById('ltcAddress');
    const walletAddress = ltcAddress.textContent;
    try {
      await navigator.clipboard.writeText(walletAddress)
      alert("Copied LTC Wallet Address")
    } catch (error) {
      alert("Failed to Copy Wallet Address")
    }
  }

</script>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>